#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3880ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#container button:hover {
  background-color: #3171e0;
}

#container .message {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
